NameVirtualHost *:80
<VirtualHost *:80>
    ServerName imageclub777.net
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot /var/www/html/imageclubsvapp
    ServerName imageclub777.net
    ErrorLog logs/imageclub777-error_log
    CustomLog logs/imageclub777-access_log combined env=!no_log
</VirtualHost>
